<!DOCTYPE html>
<html>
  <head>
    <title>Movie</title>
    <%= csrf_meta_tags %>

    
 <%= stylesheet_link_tag "defaults", media: "all", "data-turbolinks-track" => true %>
 <%= javascript_include_tag "defaults", media: "all", "data-turbolinks-track" => true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
